:root {
  --floral-white: #fff9ee;
  --eggshell: #d6dbc9;
  --ash-gray: #acbda3;
  --reseda-green: #6d906a;
  --fern-green: #588157;
  --hunter-green: #3a5a40;
  --brunswick-green: #344e41;
  --dark-green: #273b31;
  --gunmetal: #1a2721;
  --fire-engine-red: #d90429;
}

.dark {
  /* Background colors */
  --edoras-background-color-primary: var(--gunmetal);
  --edoras-background-color-secondary: var(--dark-green);

  /* Text colors */
  --edoras-text-color-primary: var(--ash-gray);
  --edoras-text-color-secondary: var(--eggshell);
  --edoras-text-color-important: var(--floral-white);
  --edoras-link-color: var(--fern-green);

  /* Error colors */
  --edoras-error-color: var(--fire-engine-red);

  /* Borders and lines */
  --edoras-border-color-primary: var(--hunter-green);
  --edoras-border-color-secondary: var(--reseda-green);
}
